.chart {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;
  color: gray;

  height: 60%;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: rgb(227, 226, 226);
  }
}
