.newUser {
  .top,
  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;

    .title {
      color: lightgray;
    }

    .left {
      flex: 1;
      display: flex;
      justify-content: center;

      .image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .right {
      flex: 2;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;

        .formInput {
          width: 40%;

          .fileInput {
            display: flex;
            align-items: center;
            height: 100%;
          }

          .icon {
            cursor: pointer;
            padding: 0px 8px;
          }

          .submitButton {
            width: 150px;
          }
        }
        
      }
    }
  }
}
