.newFile {
  .top,
  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;

    .title {
      color: lightgray;
    }

    .left {
      flex: 1;
      display: flex;
      justify-content: center;

      .image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .right {
      flex: 2;

      form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;

        .formInput {
          width: 100%;
          display: flex;
          justify-content: center;

          .fileInput {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 24px 24px 12px 24px;
            border: 2px solid rgba(201, 201, 201, 0.47);
            width: 100%;
            height: 200px;
            cursor: pointer;

            .placeholder {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
            }
          }

          .icon {
            padding: 0px 8px;
          }

          .submitButton {
            width: 150px;
          }
        }

        .imageBox {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .inputs {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px;
          }
          .wrapper {
            display: flex;
            flex: 1;
            justify-content: flex-end;

            img {
              margin-left: 24px;
              margin-right: 24px;
              border: 1px solid gray;
              width: 160px;
              height: 160px;
            }
          }
        }
      }
    }
  }
}
