.currentPlaying {
  flex: 1;
  padding: 20px;

  .header {
    display: flex;
    margin: 0px 20px;
    align-items: center;
    justify-content: space-between;
    color: gray;
  }

  .bottom {
    margin: 20px;

    .scheduleDetails {
      margin-top: 20px;
    }

    .mediaPlayer {
      display: flex;
      align-items: center;
      background-color: black;
      width: 100%;
      height: 60vh;
      margin-top: 20px;

      video {
        width: 100%;
        height: 60vh;
      }
      
      audio {
        width: 100%;
      }
    }
  }
}
