.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;

  background-color: #dde2eb67;

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 36px;
    width: 300px;

    // background-color: bisque;
    .logo {
      width: 34ch;
    }
  }

  .background {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh;
    background-color: red;
    overflow: hidden;

    .logo {
      width: 100%;
      resize: both;
    }
  }
}
