.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #1976d25e;

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 36px;
  }
}
