.home {
  display: flex;
  flex-direction: column;

  flex: 6;

  .logo {
    width: 200px;
    margin-bottom: 32px;
    // height: 200px;
  }

  .widgets,
  .charts {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .charts {
    padding: 4px 20px;
  }

  .listContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

    .listTitle {
      font-weight: 500;
      color: gray;
      margin-bottom: 16px;
    }
  }
}

.homeCenter {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
