.sidebar {
  flex: 1;
  border-left: 0.5px solid #e7e3e3;
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:  1rem;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
      height: 60px;
      margin: 2rem 1rem 1rem;
    }
  }

  hr {
    height: 0px;
    border: 0.5px solid #e7e3e3;
    margin: 0px;
  }

  .center {
    padding-right: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 16px;
        margin-bottom: 4px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 4px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          font-size: 14px;
          // color: #888;
          font-weight: 600;
          margin-right: 10px;
        }

        #logout {
          color: #888;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      margin: 4px;
      cursor: pointer;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
