.cellOnlineStatus {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  .status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .online {
    background-color: rgb(17, 233, 17);
  }

  .offline {
    background-color: rgb(148, 146, 146);
  }
}
